body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
  'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f0f0f0;
  color: #2E354E;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #2E354E;
  color: white;
}

.logo-img {
  height: 30px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 3rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: normal;
  position: relative;
  padding-bottom: 4px;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  color: #FFD15C;
}

.nav-links a.active {
  color: #FFD15C;
}

.nav-links a.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #FFD15C;
}


@media screen and (max-width: 768px) {
  .nav-links {
    display: flex;
    list-style: none;
    gap: 1rem;

  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    text-align: center;
    padding: 0.5rem 0;
  }
}

.footer-content {
  background-color: #2E354E;
  color: white;
  padding: 1rem 2rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  gap: 1rem;
}

.footer-left {
  flex: 1;
  font-size: 0.95rem;
  text-align: left;
}

.footer-right {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.footer-icon {
  height: 30px;
  width: 30px;
  object-fit: contain;
  border-radius: 50%;
  background-color: white;
  padding: 6px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.footer-icon:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-left {
    text-align: center;
  }
}

.contact-hero {
  position: relative;
  background: url('assets/header/contactus.jpg') center/cover no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.contact-hero::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.6));
  z-index: 1;
}

.contact-hero h1 {
  position: relative;
  z-index: 2;
  font-size: 48px;
  font-weight: 700;
  color: white;
  animation: fadeInUp 1s ease-out;
  display: inline-block;
}

.contact-hero h1::before,
.contact-hero h1::after {
  content: "";
  position: absolute;
  bottom: -10px;
  height: 3px;
  width: 0;
  background-color: #FFD15C; 
  transition: all 2s ease;
}

.contact-hero h1::before {
  left: 50%;
  transform: translateX(-50%);
}

.contact-hero h1::after {
  right: 50%;
  transform: translateX(50%);
}

.contact-hero h1.animate::before,
.contact-hero h1.animate::after {
  width: 50px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contact-section {
  padding: 2rem;
  background: #f7f7f7;
}

.contact-group {
  margin-bottom: 3rem;
}

.branch-wrapper {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.branch-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #000000;
  text-align: center;
}

.city-title {
  margin: 2rem 0 1.5rem;
  font-size: 1.4rem;
  color: #2E354E;
  text-align: center;
}

.branch-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.contact-card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  padding: 1rem;
  width: 430px;
  transition: 0.3s;
  text-align: left;
}

.contact-card h3 {
  margin-top: 0.7rem;
  margin-bottom: 0.3rem;
  margin-left: 0.2rem;
  color: #000000;
}

.img-box {
  overflow: hidden;
  border-radius: 10px;
}

.img-box img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.img-box:hover img {
  transform: scale(1.05);
}

.icon {
  width: 18px;
  height: 14px;
  margin-right: 9px;
  vertical-align: middle;
}

.contact-card p {
  margin: 0.4rem 0;
  display: flex;
  align-items: center;
}

.branch-divider {
  border: none;
  border-top: 1px solid #ccc;
  margin: 2rem 0;
  width: 100%;
}

.incard-divider {
  border: none;
  border-top: 1px solid #ccc;
  margin-top: 1.2rem;
  margin-bottom: -0.2rem;
  width: 100%;
}

.operation-title {
  font-weight: 650;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  color: #2E354E;
}

.operation-details p {
  margin: 0.2rem 0;
  line-height: 1.3;
  font-size: 0.95rem;
  color: #2E354E;
}

@media screen and (max-width: 768px) {
  .branch-list {
    flex-direction: column;
    align-items: center;
  }
}

